<!DOCTYPE html>
<html>
    <head>
        <!-- By Cezary Lopacinski: https://www.iconfinder.com/icons/1159630/shovel_spade_icon -->
        <link rel="icon" href="imgs/icons/shovel.png">
        <title>Zinc - Work</title>
        
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        {{> navBar active='work'}}
        In progress...
    </body>
</html>